body {
    background-color: #FEFEE2;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
    color: #549D00;
}

audio {
    position: absolute;
    left: 0px;
    width: 5%;
}

.header {
    display: flex;
    justify-content: center;
    // border: solid yellow 1px;
}

.lamb {
    position: absolute;
    left: 0px;
}

.links {
    position: absolute;
    right: 0px;
}

.container {
    // border: solid black 1px;
    display: flex;
    justify-content: center;
}

.game {
    justify-self: center;
    // border: solid blue 1px;
}

.info {
    justify-self: center;
    // border: solid red 1px;
}

