body {
    background-color: #FEFEE2;
}

.header {
    display: flex;
    justify-content: center;
    // border: solid yellow 1px;
}


.links {
    position: absolute;
    right: 0px;
}

.container {
    // border: solid black 1px;
    display: flex;
    justify-content: center;
}

.game {
    justify-self: center;
    // border: solid blue 1px;
}

.info {
    justify-self: center;
    // border: solid red 1px;
}

